<div id="content">
  <div class="container">
    <app-buttons
            [title]="(routeParams.id)?'EDITAR ':'CADASTRAR ' + 'TIPO DE DOCUMENTO' "
            [hidebuttons]="buttons"
            [icon]="(routeParams.id)?'zmdi zmdi-edit':'zmdi zmdi-assignment'"
            (eventsave)="updateOrCreate(saveForm.value)">
    </app-buttons>
    <div class="card" >
      <div class="card-body card-padding" >
        <div class="row" >
          <form #formSave [formGroup]="saveForm" (ngSubmit)="updateOrCreate(saveForm.value)">
            <div class="row-large m-t-10">
              <div class="col-xs-6" >
                <div class="fg-line">
                  <label>
                    Nome
                  </label>
                  <input type="text"  [formControl]="saveForm.controls['nome']" class="form-control input-sm" placeholder="">
                </div>
                <app-error-message [erros]="saveForm.controls['nome']"></app-error-message>
              </div>
              <div class="col-xs-6">
                <div class="fg-line">
                  <label>
                    Descrição
                  </label>
                  <textarea [formControl]="saveForm.controls['descricao']" class="form-control swal2-textarea" placeholder=""></textarea>
                </div>
                <app-error-message [erros]="saveForm.controls['descricao']"></app-error-message>
              </div>
            </div>
            <div class="row-large m-t-10">
              <div class="col-xs-6">
                <div class="fg-line">
                  <label>
                    Precisa de Arquivo
                  </label>
                  <p-dropdown [options]="status" formControlName="precisa_de_documento"></p-dropdown>
                </div>
                <app-error-message [erros]="saveForm.controls['precisa_de_documento']"></app-error-message>
              </div>
              <div class="col-xs-3">
                <div class="fg-line">
                  <label>
                    Tipo
                  </label>
                  <p-dropdown [options]="tipo" formControlName="tipo"></p-dropdown>
                </div>
                <app-error-message [erros]="saveForm.controls['tipo']"></app-error-message>
              </div>
              <div class="col-xs-3">
                <div class="fg-line">
                  <label style="width: 100%;">
                    Possui Vencimento
                  </label>
                  <!--<p-dropdown [options]="tipo" formControlName="possui_vencimento"></p-dropdown>-->
                  <p-checkbox formControlName="possui_vencimento" binary="true"></p-checkbox>
                </div>
                <app-error-message [erros]="saveForm.controls['possui_vencimento']"></app-error-message>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
