<section id="content">
    <app-buttons
            [title]="'Detalhes do Motorista'"
            [hidebuttons]="buttons"
            [itemSelected]="routeParams.id"
            [countSelect]="1"
            [icon]="'zmdi zmdi-accounts'"
            (eventsave)="updateOrCreate(saveForm.value)">
    </app-buttons>
    <!--<div class="block-header">
        <h2>Malinda Hollaway
            <small>Web/UI Developer, Edinburgh, Scotland</small>
        </h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>-->

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">

            <div class="pmo-pic">
                <div class="p-relative">
                    <a>
                        <img class="img-responsive" onError="this.src='../../../assets/img/null-user.jpg'" [src]="item?.imagem" alt="">
                    </a>
                </div>


                <div class="pmo-stat bgm-gray">
                    <tooltip-content #myTooltip >
                        <div style="text-align: justify; white-space: nowrap;">
                            <b><i class="zmdi zmdi-circle" style="color: red"></i></b> <span style="color: #fff">Nenhum documento enviado.</span><br>
                            <!--<b><i class="zmdi zmdi-circle" style="color: orangered"></i></b> <span style="color: #fff">Doc. entregue mas nao aceita.</span><br>-->
                            <b><i class="zmdi zmdi-circle" style="color: yellow"></i></b> <span style="color: #fff">Doc. parcialmente entregue.</span><br>
                            <b><i class="zmdi zmdi-circle" style="color: green"></i></b> <span style="color: #fff">Usuário Habilitado.</span><br>
                        </div>
                    </tooltip-content>
                    <h2 class="m-0 c-white nome-motorista">{{item?.name}}</h2>
                    <span class="text-center"
                        [tooltip]="myTooltip"
                        [tooltipDisabled]="false"
                        [tooltipAnimation]="true"
                        tooltipPlacement="top">
                                <span *ngIf="item?.habilitado && item?.perfil == 'fornecedor'">
                                    <i class="zmdi zmdi-circle" style="color: green"></i>
                                </span>
                        <span *ngIf="!item?.habilitado && item?.perfil == 'fornecedor'">
                                    <i class="zmdi zmdi-circle" [ngStyle]="{'color': item?.pendencias?.cor}"></i>
                                </span>
                        <span *ngIf="item?.perfil != 'fornecedor'">
                                    <i class="zmdi zmdi-circle" style="color: green"></i>
                                </span>
                    </span>
                    <span class="status-motorista">
                                        {{item?.status}}
                    </span>
                </div>
            </div>

            <!--<div class="pmo-block pmo-contact hidden-xs">
                <h2>Contato</h2>

                <ul>
                    <li *ngFor="let telfone of item?.telefones.data">
                        <i class="zmdi zmdi-phone"></i> {{telfone.ddd}} {{telfone.numero}}
                    </li>
                    <li><i class="zmdi zmdi-email"></i> {{item?.email}}</li>
                    &lt;!&ndash;&lt;!&ndash; <li><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>&ndash;&gt;
                     <li><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>&ndash;&gt;
                    <li *ngIf="item?.endereco?.data">
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0 ng-binding">
                            {{item?.endereco.data.endereco+','}}, {{item?.endereco.data.complemento?item?.endereco.data.complemento+',':''}}
                            {{item?.endereco.data.numero+','}} <br>
                            {{item?.endereco.data.cep}}
                        </address>
                    </li>
                </ul>
            </div>-->
        </div>

        <div class="pm-body clearfix">
            <!--<ul class="tab-nav tn-justified">
                <li class="active"><a >Detalhes</a></li>
            </ul>-->
            <div class="card-body">
                <ul class="tab-nav tn-justified tn-icon" role="tablist">
                    <li role="presentation" class="active">
                        <a class="col-sx-4" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">
                            Dados do motorista
                        </a>
                    </li>
                    <!--<li role="presentation">
                        <a class="col-xs-4" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">
                            Doc. Motorista
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="col-xs-4" href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">
                            Doc. Veiculo
                        </a>
                    </li>-->
                    <li role="presentation">
                        <a class="col-xs-4" href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">
                            Chamadas
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-1">
                        <div class="col-md-12">
                            <p class="m-t-0 m-b-10" style="
                                font-size: 17px;
                                font-weight: bold;
                            "><i class="zmdi zmdi-account m-r-10"></i> Informações do Motorista</p>
                        </div>
                        <div class="row-large-no-display">
                            <div class="col-md-4 m-b-0 no-padding-right lista-documentos">
                                <ul class="clist no-padding">
                                    <li><b>Nome: </b>{{item?.name}}</li>
                                    <li><b>Email: </b>{{item?.email}}</li>
                                    <li>
                                        <span *ngFor="let telfone of item?.telefones?.data">
                                            <b>Telefone: </b>{{telfone?.ddd}} {{telfone.numero}} <br>
                                        </span>
                                    </li>
                                    <li>
                                        <b>Endereco: </b>
                                        {{item?.endereco?.data?.endereco+','}}{{item?.endereco?.data?.complemento?item?.endereco?.data?.complemento+',':''}}
                                        {{item?.endereco?.data?.numero+','}} <br>
                                        {{item?.endereco?.data?.cep}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 m-b-0 no-padding-right lista-documentos">
                                <ul class="clist no-padding">
                                    <li><b>Cidade/UF: </b>{{item?.endereco?.data?.cidade_name+' - '+item?.endereco?.data?.estado_uf}}</li>
                                    <li><b>Dt. de Nasc.: </b>{{item?.pessoa?.data?.data_nascimento|date:'dd/MM/y'}}</li>
                                    <li><b>Tipo Sanguineo: </b>{{item?.pessoa?.data?.tipo_sanguineo}}</li>
                                    <li><b>Avaliação: </b><span *ngIf="item?.nota_fornecedor"><rating [(ngModel)]="item.nota_fornecedor" [readonly]="true" [max]="5"> </rating></span></li>
                                    <li><b>Cadastro: </b>{{item?.status}}</li>
                                </ul>
                            </div>
                            <div class="col-md-4 m-b-0 no-padding-right lista-documentos">
                                <ul class="clist no-padding">
                                    <li><b>CPF/CNPJ: </b>{{item?.pessoa?.data?.cpf_cnpj}}</li>
                                    <li><b>RG: </b>{{item?.pessoa?.data?.cpf_cnpj}}</li>
                                    <li><b>Escolaridade: </b>{{item?.pessoa?.data?.escolaridade}}</li>
                                    <li><b>Estado Civil: </b>{{item?.pessoa?.data?.estado_civil}}</li>
                                    <li><b>Sexo: </b>{{item?.pessoa?.data?.sexo_label}}</li>
                                    <li><b>Nome Fantasia: </b>{{item?.pessoa?.data?.fantasia}}</li>
                                </ul>
                            </div>
                            <div class="col-md-12 m-b-10 no-padding-right p-b-5 motorista-documentos">
                                <p class="c-black m-b-5">Documentos</p>
                                <div *ngIf="item?.pendencias && !item?.pendencias?.habilitado" class="col-sm-12 m-t-15 no-padding" style="opacity: 1;">
                                    <div class="card">
                                        <div class="block-header text-center no-padding m-t-0 m-b-10" style="margin-top:0;">
                                            <h2 class="c-red" style="text-transform: capitalize;">Pendências</h2>
                                        </div>
                                        <div class="card-body card-padding bgm-red c-white">
                                            <ng-template ngFor let-itemas [ngForOf]="item?.pendencias?.data" let-i="index">
                                        <span class="m-r-20" *ngIf="itemas.contagem == 0">
                                            <i class="zmdi zmdi-close"></i> {{itemas.nome}}
                                        </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 m-b-0 no-padding-right no-padding-left" *ngFor="let doc of chunk(item?.documentos?.data); let i=index">
                                    <ul class="clist no-padding lista-documentos-motorista" >
                                        <li class="m-r-10" *ngFor="let documento of doc; let ind=index">
                                            <b>{{documento?.tipo}}: </b>
                                            <button (click)="loadArquivos(documento?.arquivos)" class="btn bgm-blue waves-effect right"
                                                    title="Visualizar Documentos" type="button"><i class="zmdi zmdi-search"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="m-t-0 m-b-10" style="font-size: 17px;font-weight: bold;"><i class="zmdi zmdi-car-taxi m-r-10"></i> Veiculo</p>
                        </div>
                        <div class="row-large-no-display">
                            <div class="col-md-4 m-b-0 no-padding-right">
                                <ul class="clist no-padding lista-documentos">
                                    <li><b>Marca: </b>{{item?.veiculo_marca}}</li>
                                    <li><b>Modelo: </b>{{item?.veiculo_modelo}}</li>
                                    <li><b>Placa: </b>{{item?.veiculo_placa}}</li>
                                    <li><b>Cor: </b>{{item?.veiculo_cor}}</li>
                                    <li><b>Situação: </b>{{item?.veiculo_status == 'aceito'?'Habilitado':'Não Habilitado'}}</li>
                                </ul>
                            </div>
                            <div class="col-md-4 m-b-0  no-padding-right">
                                <ul class="clist no-padding lista-documentos">
                                    <li><b>Venc. do CLRV: </b>{{item?.veiculo_clrv_vencimento|date:'dd/MM/y'}}</li>
                                    <li><b>Emis. da Vistoria: </b>{{item?.veiculo_vistoria_data_emissao|date:'dd/MM/y'}}</li>
                                    <li><b>Venc. do seguro: </b>{{item?.veiculo_seguro_vencimento|date:'dd/MM/y'}}</li>
                                    <li><b>Num. do seguro: </b>{{item?.veiculo_seguro_numero}}</li>
                                </ul>
                            </div>
                            <div class="col-md-4 m-b-0  no-padding-right">
                                <ul class="clist no-padding lista-documentos">
                                    <li><b>Ano Fab.: </b>{{item?.ano_modelo_fab}}</li>
                                    <li><b>Chassi: </b>{{item?.chassi}}</li>
                                    <li><b>Renavam: </b>{{item?.renavam}}</li>
                                </ul>
                            </div>
                            <div class="col-md-12 m-b-10 no-padding-right p-b-5 motorista-documentos" >
                                <p class="c-black m-b-5">Documentos</p>
                                <div *ngIf="item?.veiculo_ativo?.data?.pendencias && !item?.veiculo_ativo?.data?.pendencias?.habilitado" class="col-sm-12 m-t-15 no-padding" style="opacity: 1;">
                                    <div class="card">
                                        <div class="block-header text-center no-padding m-t-0 m-b-10" style="margin-top:0;">
                                            <h2 class="c-red" style="text-transform: capitalize;">Pendências</h2>
                                        </div>
                                        <div class="card-body card-padding bgm-red c-white">
                                            <ng-template ngFor let-itemas [ngForOf]="item?.veiculo_ativo?.data?.pendencias?.data" let-i="index">
                                        <span class="m-r-20" *ngIf="itemas.contagem == 0">
                                            <i class="zmdi zmdi-close"></i> {{itemas.nome}}
                                        </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!item?.veiculo_ativo?.data?.pendencias?.habilitado" class="col-sm-12 m-t-15 no-padding" style="opacity: 1;">
                                    <div class="card">
                                        <div class="block-header text-center no-padding m-t-0 m-b-10" style="margin-top:0;">
                                            <h2 class="c-red" style="text-transform: capitalize;">Pendências</h2>
                                        </div>
                                        <div class="card-body card-padding bgm-red c-white text-center">
                                            <span class="m-r-20 ">
                                                Motorista sem veículo ativo!
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 m-b-0 no-padding-right no-padding-left" *ngFor="let doc of chunkVeiculo(item?.veiculo_ativo?.data?.documentos?.data); let i=index">
                                    <ul class="clist no-padding lista-documentos-motorista" >
                                        <li class="m-r-10" *ngFor="let documento of doc; let ind=index">
                                            <b>{{documento?.tipo}}: </b>
                                            <button (click)="loadArquivos(documento?.arquivos)" class="btn bgm-blue waves-effect right"
                                                    title="Visualizar Documentos" type="button"><i class="zmdi zmdi-search"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row-large">
                            <div class="pmb-block col-md-6">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-file m-r-10"></i>
                                        Dados do motorista</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt>CPF/CNPJ</dt>
                                            <dd>{{item?.pessoa?.data?.cpf_cnpj}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>RG</dt>
                                            <dd>{{item?.pessoa?.data?.rg}} - {{item?.pessoa?.data?.orgao_emissor}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Nec. Especial</dt>
                                            <dd>{{item?.pessoa?.data?.nec_especial}} </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Contato</dt>
                                            <dd *ngIf="item?.pessoa?.data?.nec_especial">
                                                {{item?.pessoa?.data?.nec_especial}}
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Escolaridade</dt>
                                            <dd>{{item?.pessoa?.data?.escolaridade}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Estado Civil</dt>
                                            <dd>{{item?.pessoa?.data?.estado_civil}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Sexo</dt>
                                            <dd>{{item?.pessoa?.data?.sexo_label}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Nome Fantasia</dt>
                                            <dd>{{item?.pessoa?.data?.fantasia}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="pmb-block col-md-6">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-car-taxi m-r-10"></i> Veiculo</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt>Marca/Modelo</dt>
                                            <dd>{{item?.veiculo_marca}}/{{item?.veiculo_modelo}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Placa</dt>
                                            <dd>{{item?.veiculo_placa}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Cor</dt>
                                            <dd>{{item?.veiculo_cor}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Situação</dt>
                                            <dd>{{item?.veiculo_status == 'aceito'?'Habilitado':'Não Habilitado'}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <!--<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-2">
                        <div class="pmb-block col-md-12 no-padding-top" style="margin: 0;">
                            &lt;!&ndash;<div class="pmbb-header">
                                <h2 class="btn-clicle-middle m-b-10">
                                    <i class="zmdi zmdi-file m-r-10"></i>
                                    Documentos
                                </h2>
                            </div>&ndash;&gt;
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Tipo do Arquivo</th>
                                        <th>Qtd.</th>
                                        <th>Status</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let doc of item?.documentos?.data; let i=index">
                                        <td>{{doc?.tipo}}</td>
                                        <td>{{doc?.arquivos?.data.length}}</td>
                                        <td>{{doc?.status}}</td>
                                        <td class="center">
                                            <button (click)="loadArquivos(doc?.arquivos)" class="btn bgm-blue waves-effect"
                                                    title="Visualizar Documentos" type="button"><i class="zmdi zmdi-search"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-3">
                        <div class="pmb-block col-md-12 no-padding-top" style="margin: 0;">
                            &lt;!&ndash;<div class="pmbb-header">
                                <h2 class="btn-clicle-middle m-b-10">
                                    <i class="zmdi zmdi-file m-r-10"></i>
                                    Documentos
                                </h2>
                            </div>&ndash;&gt;
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Tipo do Arquivo</th>
                                        <th>Qtd.</th>
                                        <th>Status</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let doc of item?.veiculo_ativo?.data?.documentos?.data; let i=index">
                                        <td>{{doc?.tipo}}</td>
                                        <td>{{doc?.arquivos?.data.length}}</td>
                                        <td>{{doc?.status}}</td>
                                        <td class="center">
                                            <button (click)="loadArquivos(doc?.arquivos)" class="btn bgm-blue waves-effect"
                                                    title="Visualizar Documentos" type="button"><i class="zmdi zmdi-search"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->

                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-4">
                        <div class="pmb-block col-md-12 no-padding-top">
                            <!--<div class="pmbb-header">
                                <h2 class="">
                                    <i class="zmdi zmdi-file m-r-10"></i>
                                    Chamadas
                                </h2>
                            </div>-->
                            <div class="card-body col-md-12 no-padding m-b-20">
                                <app-frag-list [idMotorista]="routeParams.id"></app-frag-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-dialog [modal]="'modal'" [(visible)]="display">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Arquivo</th>
                <!--<th>Remover</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td *ngFor="let item of arquivos?.data; let i=index">
                    <a href="{{item.img}}" *ngIf="item.img.indexOf('png') !== -1" target="_blank">
                        <img *ngIf="item.img.indexOf('png') !== -1" src="{{item.img}}" width="150">
                    </a>
                    <a href="{{item.img}}" *ngIf="item.img.indexOf('jpg') !== -1" target="_blank">
                        <img *ngIf="item.img.indexOf('jpg') !== -1" src="{{item.img}}" width="150">
                    </a>
                    <a href="{{item.img}}" *ngIf="item.img.indexOf('jpeg') !== -1" target="_blank">
                        <img *ngIf="item.img.indexOf('jpeg') !== -1" src="{{item.img}}" width="150">
                    </a>
                    <a [href]="item.img" target="_blank" *ngIf="item.img.indexOf('pdf') !== -1"> Arquivo {{i+1}}</a>
                </td>
                <!--<td class="center">
                    <button (click)="removeDocumento(item.id, i)" class="btn bgm-green waves-effect" title="Excluir Documentos" type="button"><i class="zmdi zmdi-close"></i></button>
                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</p-dialog>