<form class="p-b-25" [formGroup]="imovelForm" (ngSubmit)="saveImovel(imovelForm.value)">
  <div class="row-large m-t-10">
    <div class="col-sm-3">
      <div class="card pt-inner sombra-dos-cards pulse animated">
        <div class="pti-header tipo-height bg_empreendimento">
          <div class="ptih-title">Empreendimento</div>
        </div>
        <div class="pti-footer">
          <a [ngClass]="{'bgm-red': true}">
            <i class="zmdi zmdi-check-all"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-9" >
      <div class="row-large">
        <div class="col-xs-6" >
          <label>
            Titulo
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['titulo']" placeholder="Ex. Residencial portinari palace">
          <app-error-message [erros]="imovelForm.controls['titulo']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Titulo reduzido
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['titulo_reduzido']" placeholder="Ex. Residencial portinari">
          <app-error-message [erros]="imovelForm.controls['titulo_reduzido']"></app-error-message>
        </div>
      </div>
      <div class="row-large">
        <div class="col-xs-6" >
          <label>
            Subtitulo
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['subtitulo']" placeholder="Ex. Lorem Ipsum">
          <app-error-message [erros]="imovelForm.controls['subtitulo']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Descrição curta
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['descricao_curta']" placeholder="Ex. Lorem Ipsum">
          <app-error-message [erros]="imovelForm.controls['descricao_curta']"></app-error-message>
        </div>
      </div>
      <div class="row-large">
        <div class="col-xs-6" >
          <div class="fg-line">
            <label>Usuário</label>
            <p-autoComplete
                    [placeholder]="(anuncio)?anuncio.anunciante_nome:'Contratante'"
                    minLength="3"
                    delay="600"
                    field="name"
                    [suggestions]="usuarios?.data"
                    (completeMethod)="search($event)"
                    [dropdown]="false"
                    (onSelect)="selectdItem($event)"
                    (onDropdownClick)="handleDropdown($event)">
              <ng-template let-usuario pTemplate="item">
                <div class="card-body">
                  <div class="list-group">
                    <a class="list-group-item media" style="padding: 0;">
                      <div class="pull-left">
                        <img class="lgi-img" src="{{usuario.imagem}}" alt="">
                      </div>
                      <div class="media-body">
                        <div class="lgi-heading">{{usuario.name}}</div>
                        <small class="lgi-text">{{usuario.cpf_cnpj}}</small>
                        <small class="lgi-text">{{usuario.email}}</small>
                      </div>
                    </a>
                  </div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
          <app-error-message [erros]="imovelForm.controls['user_id']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Pretensão
          </label>
          <p-dropdown [options]="pretensao" formControlName="pretensao" placeholder="Selecione"></p-dropdown>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Finalidade
          </label>
          <p-dropdown [options]="finalidades" filter="filter" [formControl]="imovelForm.controls['finalidade_id']" placeholder="Selecione"></p-dropdown>
          <app-error-message [erros]="imovelForm.controls['finalidade_id']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Caracteristicas
          </label>
          <p-multiSelect [options]="caracteristicas" filter="filter" [formControl]="imovelForm.controls['caracteristicas']" defaultLabel="Selecione"></p-multiSelect>
          <app-error-message [erros]="imovelForm.controls['caracteristicas']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Valor
          </label>
          <input type="text" [textMask]="{mask: numberMask}"  class="form-control input-sm" [formControl]="imovelForm.controls['valor']" placeholder="Valor">
          <app-error-message [erros]="imovelForm.controls['valor']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Possui Condominio?
          </label>
          <p-checkbox formControlName="valor_condominio_validation" binary="true"></p-checkbox>
          <input type="text" [textMask]="{mask: numberMask}" [readonly]="!imovelForm.controls['valor_condominio_validation'].value" class="form-control input-sm" [formControl]="imovelForm.controls['valor_condominio']" placeholder="Valor condomínio">
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-12" >
          <label>
            Descrição
          </label>
          <textarea pInputTextarea [formControl]="imovelForm.controls['descricao']"></textarea>
          <app-error-message [erros]="imovelForm.controls['descricao']"></app-error-message>
        </div>
      </div>
      <div class="col-xs-12  m-b-15" >
        <h2 class="custom-title">
          <i class="zmdi zmdi-home m-r-10"></i> Características do empreendimento
        </h2>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Área Mínima
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_area_minimo']" placeholder="Ex. 10,00">
          <app-error-message [erros]="imovelForm.controls['qtde_area_minimo']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Área Máxima
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_area_maximo']" placeholder="Ex. 11,00">
          <app-error-message [erros]="imovelForm.controls['qtde_area_maximo']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Qtd. Mínima de Dormitório
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_dormitoario_minimo']" placeholder="Ex. 2">
          <app-error-message [erros]="imovelForm.controls['qtde_dormitoario_minimo']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Qtd. Máxima de Dormitório
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_dormitoario_maximo']" placeholder="Ex. 1">
          <app-error-message [erros]="imovelForm.controls['qtde_dormitoario_maximo']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Qtd. Mínima Suíte
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_suite_minimo']" placeholder="Ex. 2">
          <app-error-message [erros]="imovelForm.controls['qtde_suite_minimo']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Qtd. Máxima Suíte
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_suite_maximo']" placeholder="Ex. 1">
          <app-error-message [erros]="imovelForm.controls['qtde_suite_maximo']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Qtd. Andar
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_andar']" placeholder="Ex. 1">
          <app-error-message [erros]="imovelForm.controls['qtde_andar']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Qtd. Elevador
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_elevador']" placeholder="Ex. 1">
          <app-error-message [erros]="imovelForm.controls['qtde_elevador']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Qtd. Und. por Andar
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_unidade_andar']" placeholder="Ex. 1">
          <app-error-message [erros]="imovelForm.controls['qtde_unidade_andar']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Link tour virtual
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['tour_virtual']" placeholder="Ex. http://linktour.com">
          <app-error-message [erros]="imovelForm.controls['tour_virtual']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Link Video
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['video']" placeholder="Ex. http://linkvideo.com">
          <app-error-message [erros]="imovelForm.controls['video']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Informação complementar
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['informacao_complementar']" placeholder="Ex. lorem ipsum ret">
          <app-error-message [erros]="imovelForm.controls['informacao_complementar']"></app-error-message>
        </div>
      </div>
      <div class="row-large m-t-10">
        <div class="col-xs-6" >
          <label>
            Descricao Localização
          </label>
          <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['descricao_localizacao']" placeholder="Ex. lorem ipsum ret">
          <app-error-message [erros]="imovelForm.controls['descricao_localizacao']"></app-error-message>
        </div>
        <div class="col-xs-6" >
          <label>
            Situação
          </label>
          <p-dropdown [options]="situacao" formControlName="situacao" placeholder="Selecione"></p-dropdown>
        </div>
      </div>
      <div class="col-xs-12  m-b-15" >
        <h2 class="custom-title">
          <i class="zmdi zmdi-money-box m-r-10"></i>Possui saldo em aberto a vencer?
          <p-checkbox formControlName="possui_divida" binary="true"></p-checkbox>
        </h2>
      </div>
      <div style="width: 100%;" *ngIf="imovelForm.controls['possui_divida'].value">
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <label>
              Saldo da dívida
            </label>
            <input type="text" [textMask]="{mask: numberMask}" class="form-control input-sm" [formControl]="imovelForm.controls['saldo_divida']" placeholder="Ex. 120,00">
            <app-error-message [erros]="imovelForm.controls['saldo_divida']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <label>
              Mensalidade
            </label>
            <input type="text"  [textMask]="{mask: numberMask}"class="form-control input-sm" [formControl]="imovelForm.controls['valor_mensalidade_divida']" placeholder="Ex. 120,00">
            <app-error-message [erros]="imovelForm.controls['valor_mensalidade_divida']"></app-error-message>
          </div>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <label>
              Data da vencimento da divida
            </label>
            <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="data_vencimento_divida"></p-calendar>
            <app-error-message [erros]="imovelForm.controls['data_vencimento_divida']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <label>
              Data da ultima parcela da divida
            </label>
            <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="data_ultima_parcela_divida" [minDate]="imovelForm.controls['data_vencimento_divida'].value"></p-calendar>
            <app-error-message [erros]="imovelForm.controls['data_ultima_parcela_divida']"></app-error-message>
          </div>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <label>
              Qtd. Parcela Restante
            </label>
            <input type="text" class="form-control input-sm" [formControl]="imovelForm.controls['qtde_parcela_restante_divida']" placeholder="Ex. 120,00">
            <app-error-message [erros]="imovelForm.controls['qtde_parcela_restante_divida']"></app-error-message>
          </div>
        </div>
      </div>
      <div style="width: 100%;" >
        <div class="col-xs-12  m-b-15" >
          <h2 class="custom-title"><i class="zmdi zmdi-pin-drop m-r-10"></i> Endereço</h2>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-4">
            <div class="fg-line">
              <label>Estado</label>
              <p-dropdown [options]="estados" placeholder="Selecione" [formControl]="enderecoForm.controls['estado_id']" (onChange)="chageEstado($event.value)"></p-dropdown>
            </div>
            <app-error-message [erros]="enderecoForm.controls['estado_id']"></app-error-message>
          </div>
          <div class="col-xs-4" *ngIf="cidades?.length > 0">
            <div class="fg-line">
              <label>Cidade</label>
              <p-dropdown [options]="cidades" placeholder="Selecione" [formControl]="enderecoForm.controls['cidade_id']" (onChange)="chageCidade($event.value)" [filter]="true"></p-dropdown>
            </div>
            <app-error-message [erros]="enderecoForm.controls['cidade_id']"></app-error-message>
          </div>
          <div class="col-xs-4" *ngIf="bairros?.length > 0">
            <div class="fg-line">
              <label>Bairros</label>
              <p-dropdown [options]="bairros" placeholder="Selecione" [formControl]="enderecoForm.controls['bairro_id']" [filter]="true"></p-dropdown>
            </div>
            <app-error-message [erros]="enderecoForm.controls['bairro_id']"></app-error-message>
          </div>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <div class="fg-line">
              <label>Endereço</label>
              <input type="text"  placeholder="Ex: Rua 00"  [formControl]="enderecoForm.controls['endereco']" class="form-control input-sm" >
            </div>
            <app-error-message [erros]="enderecoForm.controls['endereco']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <div class="fg-line">
              <label>CEP</label>
              <input type="text" diMask="99999999" [value]="enderecoForm.controls['cep'].value" placeholder="Ex: 00000000"  [formControl]="enderecoForm.controls['cep']" class="form-control input-sm" >
            </div>
            <app-error-message [erros]="enderecoForm.controls['cep']"></app-error-message>
          </div>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <div class="fg-line">
              <label>Numero</label>
              <input type="text" placeholder="Nº"  [formControl]="enderecoForm.controls['numero']" class="form-control input-sm" >
            </div>
            <app-error-message [erros]="enderecoForm.controls['numero']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <div class="fg-line">
              <label>Complemento</label>
              <input type="text" placeholder="Ex: Casa, Apartamento..."  [formControl]="enderecoForm.controls['complemento']" class="form-control input-sm" >
            </div>
            <app-error-message [erros]="enderecoForm.controls['complemento']"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-xs-12  m-b-15" >
        <h2 class="custom-title">
          <i class="zmdi zmdi-money-box m-r-10"></i>Condição comercial
          <p-checkbox [formControl]="condicaoComercialForm.controls['anuncio_condicao_confirm']" binary="true"></p-checkbox>
        </h2>
      </div>
      <div style="width: 100%;" *ngIf="condicaoComercialForm.controls['anuncio_condicao_confirm'].value">
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <div class="fg-line">
              <label>Valor de entrada (R$)</label>
              <input type="text" placeholder="Ex. 550,00" [textMask]="{mask: numberMask}"  [formControl]="condicaoComercialForm.controls['valor_entrada']" class="form-control input-sm" >
            </div>
            <app-error-message [erros]="condicaoComercialForm.controls['valor_entrada']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <div class="fg-line">
              <label>Mensais a partir de (R$)</label>
              <input type="text" placeholder="Ex. 250,00" [textMask]="{mask: numberMask}" [formControl]="condicaoComercialForm.controls['valor_mensal']" class="form-control input-sm" >
            </div>
            <app-error-message [erros]="condicaoComercialForm.controls['valor_mensal']"></app-error-message>
          </div>
        </div>
        <div class="row-large m-t-10" >
          <div class="col-xs-12" >
            <h2 class="custom-title">
              <i class="zmdi zmdi-more m-r-10"></i>Aceita permuta por:
            </h2>
          </div>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <label>
              Veículo no valor:
            </label>
            <p-checkbox [formControl]="condicaoComercialForm.controls['aceita_permuta_carro']" binary="true"></p-checkbox>
            <input type="text" [textMask]="{mask: numberMask}" [readonly]="!condicaoComercialForm.controls['aceita_permuta_carro'].value" class="form-control input-sm" [formControl]="condicaoComercialForm.controls['valor_permuta_carro']" placeholder="Ex. 500,00">
            <app-error-message [erros]="condicaoComercialForm.controls['valor_permuta_carro']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <label>
              Imóvel no valor:
            </label>
            <p-checkbox [formControl]="condicaoComercialForm.controls['aceita_permuta_imovel']" binary="true"></p-checkbox>
            <input type="text" [textMask]="{mask: numberMask}" [readonly]="!condicaoComercialForm.controls['aceita_permuta_imovel'].value" class="form-control input-sm" [formControl]="condicaoComercialForm.controls['valor_permuta_imovel']" placeholder="Ex. 550,00">
            <app-error-message [erros]="condicaoComercialForm.controls['valor_permuta_imovel']"></app-error-message>
          </div>
        </div>
        <div class="row-large m-t-10">
          <div class="col-xs-6" >
            <label>
              Outros bens:
            </label>
            <p-checkbox [formControl]="condicaoComercialForm.controls['aceita_permuta_outro']" binary="true"></p-checkbox>
            <input type="text" [textMask]="{mask: numberMask}" [readonly]="!condicaoComercialForm.controls['aceita_permuta_outro'].value" class="form-control input-sm" [formControl]="condicaoComercialForm.controls['valor_permuta_outro']" placeholder="Ex. 500,00">
            <app-error-message [erros]="condicaoComercialForm.controls['valor_permuta_outro']"></app-error-message>
          </div>
          <div class="col-xs-6" >
            <label>
              Qual?
            </label>
            <input type="text" [readonly]="!condicaoComercialForm.controls['aceita_permuta_outro'].value" class="form-control input-sm" [formControl]="condicaoComercialForm.controls['valor_permuta_outro_descricao']" placeholder="Ex. Galpão">
            <app-error-message [erros]="condicaoComercialForm.controls['valor_permuta_outro_descricao']"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-xs-12  m-b-15" >
        <h2 class="custom-title">
          <i class="zmdi zmdi-phone m-r-10"></i>Telefones
        </h2>
      </div>
      <div style="width: 100%;" [formGroup]="telefonesForm">
        <div class="row-large m-t-10" *ngFor="let address of telefonesForm.controls['ddd'].controls; let i=index">
          <div class="col-xs-6" formArrayName="ddd" >
            <label>
              DDD:
            </label>
            <input type="text" class="form-control input-sm" [formControlName]="i" placeholder="Ex. 63">
            <app-error-message [erros]="telefonesForm.controls['ddd'].controls[i]"></app-error-message>
          </div>
          <div class="col-xs-6" formArrayName="numero">
            <label>
              Telefone
            </label>
            <input type="text"  class="form-control input-sm" [formControlName]="i" placeholder="Ex. 0000-0000">
            <app-error-message [erros]="telefonesForm.controls['numero'].controls[i]"></app-error-message>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="col-xs-12" style="text-align: right">
  <button class="btn btn-primary btn-sm" (click)="actionVoltar()">Voltar</button>
  <button class="btn btn-primary btn-sm" [disabled]="validateForm()" (click)="saveImovel()">Próximo</button>
</div>