<small [hidden]="!(erros.hasError('required') && erros.invalid)" class="text-danger">
    Obrigatório
</small>
<small [hidden]="!(erros.hasError('minlength') && erros.invalid)" class="text-danger">
    Campo precisa ter no Min. {{erros.errors?.minlength?.requiredLength}} e possui {{erros.errors?.minlength?.actualLength}}.
</small>
<small [hidden]="!(erros.hasError('maxlength') && erros.invalid)" class="text-danger">
    Campo precisa ter no Max. {{erros.errors?.maxlength?.requiredLength}} e possui {{erros.errors?.maxlength?.actualLength}}.
</small>
<small [hidden]="!(erros.hasError('pattern') && erros.invalid)" class="text-danger">
    Valor digitado Inválido.
</small>