<div id="content">
  <div class="container">
    <app-buttons
            [title]="(routeParams.id)?'EDITAR ':'CADASTRAR ' + 'FORMA DE PAGAMENTO' "
            [hidebuttons]="buttons"
            [icon]="(routeParams.id)?'zmdi zmdi-edit':'zmdi zmdi-assignment'"
            (eventsave)="updateOrCreate(saveForm.value)">
    </app-buttons>
    <div class="card" >
      <div class="card-body card-padding" >
        <div class="row" >
          <form #formSave [formGroup]="saveForm" (ngSubmit)="updateOrCreate(saveForm.value)">
            <div class="row-large m-t-10">
              <div class="col-xs-6" style="height: 56px;">
                <div class="fg-line">
                  <input type="text"  [formControl]="saveForm.controls['nome']" class="form-control input-sm" placeholder="Nome">
                </div>
                <app-error-message [erros]="saveForm.controls['nome']"></app-error-message>
              </div>
              <div class="col-xs-6" style="height: 56px;">
                <div class="fg-line">
                  <input type="text"  [formControl]="saveForm.controls['taxa']" class="form-control input-sm" placeholder="Taxa">
                </div>
                <app-error-message [erros]="saveForm.controls['taxa']"></app-error-message>
              </div>
            </div>
            <div class="row-large m-t-10">
              <div class="col-xs-6">
                <div class="fg-line">
                  <p-dropdown [options]="status" formControlName="status"></p-dropdown>
                </div>
                <app-error-message [erros]="saveForm.controls['status']"></app-error-message>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
