<section id="content">
  <div class="container">
    <app-buttons
            [title]="'LISTA DE VEÍCULOS'"
            [smalltext]="_total + ' Itens'"
            [itemSelected]="itemSelected"
            [countSelect]="countSelect"
            (remover)="excluir()"
            (restaurar)="restaurar()"
            [hidebuttons]="buttons"
            [icon]="'zmdi zmdi-assignment'">
    </app-buttons>
    <div class="card">
      <div class="card-header card-header-theme">
        <form [formGroup]="pesquisaForm"  (ngSubmit)="pesquisar(pesquisaForm.value)">
          <input type="hidden" [formControl]="pesquisaForm.controls['field']" id="field" class="form-control">
          <input type="hidden" [formControl]="pesquisaForm.controls['order']" id="order" class="form-control">
          <div class="header-search input-group col-md-10">
            <div class="col-md-5">
              <div class="fg-line">
                <p-autoComplete
                        placeholder="Proprietário"
                        minLength="3"
                        delay="600"
                        field="name"
                        [suggestions]="usuarios?.data"
                        (completeMethod)="search($event)"
                        [dropdown]="false"
                        (onSelect)="selectdItem($event)"
                        (onDropdownClick)="handleDropdown($event)">
                  <ng-template let-usuario pTemplate="item">
                    <div class="card-body">
                      <div class="list-group">
                        <a class="list-group-item media" style="padding: 0;">
                          <div class="pull-left">
                            <img class="lgi-img" src="{{usuario.imagem}}" alt="">
                          </div>
                          <div class="media-body">
                            <div class="lgi-heading">{{usuario.name}}</div>
                            <small class="lgi-text">{{usuario.cpf_cnpj}}</small>
                            <small class="lgi-text">{{usuario.email}}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <button type="submit" [disabled]="!pesquisaForm.valid" class="input-group-addon"><i class="zmdi zmdi-search"></i></button>
          </div>
        </form>
        <div class="header-btn-actions">
          <ul class="actions">
            <li>
              <a  (click)="list()">
                <i class="zmdi zmdi-refresh-alt"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="zmdi zmdi-filter-list"></i>
              </a>
            </li>
            <li>
              <a (click)="lixeira()">
                <i class="zmdi zmdi-delete"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/>
            </th>
            <th (click)="orderby('transporte_veiculos.id')">COD</th>
            <th>#</th>
            <th (click)="orderby('transporte_veiculos.nome')">Proprietário</th>
            <th (click)="orderby('transporte_veiculos.nome')">Modelo</th>
            <th (click)="orderby('transporte_veiculos.descricao')">Marca</th>
            <th (click)="orderby('transporte_veiculos.observacao')">Placa</th>
            <th (click)="orderby('transporte_veiculos.observacao')">Tipo</th>
            <th (click)="orderby('created_at')">Criado</th>
              <th (click)="orderby('updated_at')">Modificado</th>
            <th (click)="orderby('updated_at')">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items?.data| paginate: { id: 'server', itemsPerPage: items?.meta?.pagination?.per_page, currentPage: _page, totalItems: _total }" [ngClass]="{'success c-white': item.state}" (click)="item.state = !item.state;count();alterarESeleciona($event, item)" >
            <td>
              <input type="checkbox" name="itens" multiple value="{{item.id}}" [(ngModel)]="item.state"/>
            <td>{{item.id}}</td>
            <td class="text-center"
                [tooltip]="myTooltip"
                [tooltipDisabled]="false"
                [tooltipAnimation]="true"
                tooltipPlacement="top">
                    <span *ngIf="item?.habilitado">
                        <i class="zmdi zmdi-circle" style="color: green"></i>
                    </span>
                    <span *ngIf="!item?.habilitado">
                        <i class="zmdi zmdi-circle" [ngStyle]="{'color': item?.pendencias?.cor}"></i>
                    </span>
            </td>
            <td>{{item.proprietario}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.placa}}</td>
            <td>{{item.observacao}}</td>
            <td>{{item.created_at.date|date:'d-MM-y'}}</td>
            <td>{{item.updated_at.date|date:'d-MM-y'}}</td>
              <td>{{item.status}}</td>
          </tr>
          </tbody>
        </table>
        <div class="pagination" >
          <pagination-controls maxSize="6" (pageChange)="list($event)" directionLinks="true" nextLabel="" previousLabel="" autoHide="true" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>