<p-dialog header="Dados da Fatura" [(visible)]="display" >
  <div class="pmb-block">
    <div class="pmbb-body p-l-30">
      <div class="pmbb-view">
        <dl class="dl-horizontal">
          <dt>Método:</dt>
          <dd>{{lastChecked?.metodo}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Código:</dt>
          <dd>{{lastChecked?.codigo}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Acesso Externo:</dt>
          <dd><a href="{{lastChecked?.link_externo}}" target="_blank">Acessar</a></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>total:</dt>
          <dd>{{lastChecked?.valor|currency:'BRL':true}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>valor_liquido:</dt>
          <dd>{{lastChecked?.valor_liquido|currency:'BRL':true}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Taxa:</dt>
          <dd>{{lastChecked?.taxa|currency:'BRL':true}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Desconto:</dt>
          <dd>{{lastChecked?.desconto|currency:'BRL':true}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Ultima Atualização:</dt>
          <dd>{{lastChecked?.ultima_atualizacao|date:'d/MM/y'}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Data de Cadastro:</dt>
          <dd>
            {{lastChecked?.created_at.date|date:'d/MM/y'}}
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Ultima Edição:</dt>
          <dd>
            {{lastChecked?.updated_at.date|date:'d/MM/y'}}
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Status:</dt>
          <dd>
            {{lastChecked?.status_label}}
          </dd>
        </dl>
      </div>
    </div>
  </div>
</p-dialog>
<div class="card">
  <div class="card-header card-header-theme">
      <!--<h2 style="text-align: center;">Lista de preços</h2>-->
    <form [formGroup]="pesquisaForm"  (ngSubmit)="pesquisar(pesquisaForm.value)">
      <input type="hidden" [formControl]="pesquisaForm.controls['field']" id="field" class="form-control">
      <input type="hidden" [formControl]="pesquisaForm.controls['order']" id="order" class="form-control">
      <input type="hidden" [formControl]="pesquisaForm.controls['plano_tabela_precos.plano_id']" id="plano" class="form-control">
      <div class="header-search input-group col-md-8">
        <div class="col-md-4">
          <div class="fg-line">
            <p-dropdown [options]="formaPagamentos" placeholder="Forma Pgto"  formControlName="lancamentos.forma_pagamento_id"></p-dropdown>
          </div>
        </div>
        <button type="submit" [disabled]="!pesquisaForm.valid" class="input-group-addon"><i class="zmdi zmdi-search"></i></button>
      </div>
    </form>
    <div class="header-btn-actions">
      <ul class="actions">
        <li *ngIf="countSelect == 1">
          <a pTooltip="Visualizar" tooltipPosition="top" (click)="display=true">
            <i class="zmdi zmdi-fullscreen-alt "></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/>
        </th>
        <th (click)="orderby('plano_tabela_precos.id')">#</th>
        <th (click)="orderby('plano_tabela_precos.empresa_id')">Método</th>
        <th (click)="orderby('plano_tabela_precos.empresa_id')">V. Total</th>
        <th (click)="orderby('plano_tabela_precos.valor')">V. Liquido</th>
        <th (click)="orderby('plano_tabela_precos.valor')">V. Taxa</th>
        <th (click)="orderby('plano_tabela_precos.created_at')">Ultima Att.</th>
        <th (click)="orderby('plano_tabela_precos.created_at')">Criado</th>
        <th (click)="orderby('plano_tabela_precos.updated_at')">Modificado</th>
        <th (click)="orderby('plano_tabela_precos.updated_at')">status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items?.data| paginate: { id: 'server', itemsPerPage: items?.meta?.pagination?.per_page, currentPage: _page, totalItems: _total }" [ngClass]="{'success c-white': item.state}" (click)="item.state = !item.state;count();alterarESeleciona($event, item)" >
        <td>
          <input type="checkbox" name="itens" multiple value="{{item.id}}" [(ngModel)]="item.state"/>
        </td>
        <td>{{item.id}}</td>
        <td>{{item.metodo}}</td>
        <td>{{item.valor|currency:'BRL':true}}</td>
        <td>{{item.valor_liquido|currency:'BRL':true}}</td>
        <td>{{item.taxa|currency:'BRL':true}}</td>
        <td>{{item.ultima_atualizacao|date:'d/MM/y'}}</td>
        <td>{{item.created_at.date|date:'d/MM/y'}}</td>
        <td>{{item.updated_at.date|date:'d/MM/y'}}</td>
        <td>{{item.status_label}}</td>
      </tr>
      </tbody>
    </table>
    <div class="pagination" >
      <pagination-controls maxSize="6" (pageChange)="list($event)" directionLinks="true" nextLabel="" previousLabel="" autoHide="true" id="server"></pagination-controls>
    </div>
  </div>
</div>