<div class="row-large" [ngSwitch]="documentoform.controls['transporte_tipo_documento_id'].value">
    <div class="row-large" *ngSwitchCase="1">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Numero
                </label>
                <input type="text"  [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data de Emissão
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_emissao']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input required type="text" class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Orgão Emissor
                </label>
                <input type="text"  [formControl]="documentoform.controls['orgao_amissor']" required class="form-control input-sm" placeholder="Ex: SSP">
                <app-error-message [erros]="documentoform.controls['orgao_amissor']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label style="width: 100%;">
                    Estado
                </label>
                <select required [formControl]="documentoform.controls['uf']">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="" [selected]="true">Selecione</option>
                </select>
                <app-error-message [erros]="documentoform.controls['uf']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" style="display: block;" *ngSwitchCase="3">
        <div class="row-large">
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        Numero
                    </label>
                    <input type="text"  [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                    <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
                </div>
            </div>
            <!--<div class="col-md-3" >
                <div class="fg-line">
                    <label>
                        Data de Emissão
                    </label>
                    &lt;!&ndash;<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">&ndash;&gt;
                    &lt;!&ndash;<p-calendar [formControl]="documentoform.controls['data_emissao']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>&ndash;&gt;
                    <input type="text" class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                    <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
                </div>
            </div>-->
            <div class="col-md-3" >
                <div class="fg-line">
                    <label>
                        Validade
                    </label>
                    <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                    <!--<p-calendar [formControl]="documentoform.controls['data_vigencia_fim']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                    <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_vigencia_fim']">
                    <app-error-message [erros]="documentoform.controls['data_vigencia_fim']"></app-error-message>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        Orgão Emissor
                    </label>
                    <input type="text" [formControl]="documentoform.controls['orgao_amissor']" required class="form-control input-sm" placeholder="Ex: SSP">
                    <app-error-message [erros]="documentoform.controls['orgao_amissor']"></app-error-message>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fg-line ">
                    <label style="width: 100%;">
                        Estado
                    </label>
                    <p-dropdown [options]="estados" [formControl]="documentoform.controls['uf']"></p-dropdown>
                    <app-error-message [erros]="documentoform.controls['uf']"></app-error-message>
                </div>
            </div>
        </div>
        <div class="row-large">
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        Categoria CNH
                    </label>
                    <p-dropdown  [options]="catcnh" [formControl]="documentoform.controls['categoria_cnh']"></p-dropdown>
                </div>
                <app-error-message [erros]="documentoform.controls['categoria_cnh']"></app-error-message>
            </div>
            <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Exerce Atividade Remunerada
                </label>
                <p-dropdown [options]="atividadeRemunerada" [formControl]="documentoform.controls['atividade_remunerada']"></p-dropdown>
            </div>
            <app-error-message [erros]="documentoform.controls['atividade_remunerada']"></app-error-message>
        </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="6">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Numero CNPJ (opcional)
                </label>
                <input type="text" required [formControl]="documentoform.controls['numero']"  maxlength="20" class="form-control input-sm" placeholder="Ex: 99999999999999">
                <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    CNAE principal (opcional)
                </label>
                <input type="text" required [formControl]="documentoform.controls['cnae']"  maxlength="255" class="form-control input-sm" placeholder="Ex: Motorista">
                <app-error-message [erros]="documentoform.controls['cnae']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="7">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Nome do Curso
                </label>
                <input type="text"  [formControl]="documentoform.controls['nome']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['nome']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data de Emissão
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_emissao']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Carga Horaria
                </label>
                <input type="text" [formControl]="documentoform.controls['carga_horaria']" required class="form-control input-sm" placeholder="Ex: SSP">
                <app-error-message [erros]="documentoform.controls['carga_horaria']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="9">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    NIT
                </label>
                <input type="text"  [formControl]="documentoform.controls['nit']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['nit']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Código da ocupação
                </label>
                <input type="text" [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data inicio
                </label>
                <!--<p-calendar [formControl]="documentoform.controls['data_vigencia_inicial']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_vigencia_inicial']">
                <app-error-message [erros]="documentoform.controls['data_vigencia_inicial']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Data da emissão
                </label>
                <!--<p-calendar [formControl]="documentoform.controls['data_emissao']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="10">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Numero
                </label>
                <input type="text"  [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data de Emissão
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_emissao']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="11">
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data de Emissão
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_emissao']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="12">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    N. Vistoria
                </label>
                <input type="text"  [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Vistoriador
                </label>
                <p-dropdown [options]="vistoriador" placeholder="Selecione" [formControl]="documentoform.controls['vistoriador']"></p-dropdown>
                <app-error-message [erros]="documentoform.controls['vistoriador']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Alienado
                </label>
                <p-dropdown [options]="alienado" placeholder="Selecione" [formControl]="documentoform.controls['alienado']"></p-dropdown>
                <app-error-message [erros]="documentoform.controls['alienado']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data Emissão
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_vigencia_fim']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_emissao']">
                <app-error-message [erros]="documentoform.controls['data_emissao']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data Vencimento
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_vigencia_fim']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_vigencia_fim']">
                <app-error-message [erros]="documentoform.controls['data_vigencia_fim']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" *ngSwitchCase="15">
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Nome do proprietário
                </label>
                <input type="text"  [formControl]="documentoform.controls['nome']" required class="form-control input-sm">
                <app-error-message [erros]="documentoform.controls['nome']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Numero
                </label>
                <input type="text"  [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line ">
                <label style="width: 100%;">
                    Estado
                </label>
                <p-dropdown [options]="estados" placeholder="Selecione" [formControl]="documentoform.controls['uf']"></p-dropdown>
                <app-error-message [erros]="documentoform.controls['uf']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fg-line">
                <label>
                    Cidade
                </label>
                <input type="text"  [formControl]="documentoform.controls['cidade']" required class="form-control input-sm" placeholder="Ex: Palmas">
                <app-error-message [erros]="documentoform.controls['cidade']"></app-error-message>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data de Vencimento
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_vigencia_fim']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_vigencia_fim']">
                <app-error-message [erros]="documentoform.controls['data_vigencia_fim']"></app-error-message>
            </div>
        </div>
    </div>
    <div class="row-large" style="display: block;" *ngSwitchCase="13">
        <div class="row-large">
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        N. Seguro
                    </label>
                    <input type="text"  [formControl]="documentoform.controls['numero']" required class="form-control input-sm" placeholder="Ex: 123456789">
                    <app-error-message [erros]="documentoform.controls['numero']"></app-error-message>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        Seguradora
                    </label>
                    <input type="text"  [formControl]="documentoform.controls['seguradora']" required class="form-control input-sm" placeholder="Nome da seguradora">
                    <app-error-message [erros]="documentoform.controls['seguradora']"></app-error-message>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        Cobertura de Vidas
                    </label>
                    <p-dropdown placeholder="Selecione" [options]="coberturaVidas"
                                [formControl]="documento.controls['cobertura_de_vidas']"></p-dropdown>
                    <app-error-message [erros]="documentoform.controls['cobertura_de_vidas']"></app-error-message>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fg-line">
                    <label>
                        Cobertura de Terceiros
                    </label>
                    <p-dropdown placeholder="Selecione" [options]="coberturaTerceiros"
                                [formControl]="documento.controls['cobertura_de_terceiros']"></p-dropdown>
                    <app-error-message [erros]="documentoform.controls['cobertura_de_terceiros']"></app-error-message>
                </div>
            </div>
        </div>
        <div class="row-large">
            <div class="col-md-3" >
            <div class="fg-line">
                <label>
                    Data de Vencimento
                </label>
                <!--<input type="text"  [formControl]="documentoform.controls['data_emissao']" required class="form-control input-sm" placeholder="04/09/2015">-->
                <!--<p-calendar [formControl]="documentoform.controls['data_vigencia_fim']" [monthNavigator]="true" yearRange="1949:2017" [yearNavigator]="true" dateFormat="dd/mm/yy" ></p-calendar>-->
                <input type="text" required class="form-control" [textMask]="{mask: maskData}" placeholder="Ex 00/00/0000" [formControl]="documentoform.controls['data_vigencia_fim']">
                <app-error-message [erros]="documentoform.controls['data_vigencia_fim']"></app-error-message>
            </div>
        </div>
        </div>
    </div>
</div>