<section id="content">
  <div class="container">
    <app-buttons
            [title]="'PAINEL DE MOTORISTAS (LEVEZ)'"
            [smalltext]="_total + ' Itens'"
            [subtitle]="'Aqui você gerencia todas as suas corridas realizadas.'"
            [itemSelected]="itemSelected"
            [countSelect]="countSelect"
            (remover)="excluir()"
            (restaurar)="restaurar()"
            [hidebuttons]="buttons"
            [icon]="'zmdi zmdi-money'">
    </app-buttons>
    <!--<div class="row mini-charts">
      <div class="col-md-3">
        <div class="mini-charts-item bgm-orange">
          <div class="clearfix">
            <div class="chart stats-line"></div>
            <div class="count">
              <small>GANHOS TOTAIS</small>
              <h2>{{items?.meta?.financeiro?.total|currency:"BRL":true}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mini-charts-item bgm-lightgreen">
          <div class="clearfix">
            <div class="chart stats-line"></div>
            <div class="count">
              <small>GANHO DO MÊS</small>
              <h2>{{items?.meta?.financeiro?.mes|currency:"BRL":true}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mini-charts-item bgm-lightgreen">
          <div class="clearfix">
            <div class="chart stats-line"></div>
            <div class="count">
              <small>GANHO DO SEMANA</small>
              <h2>{{items?.meta?.financeiro?.semana|currency:"BRL":true}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mini-charts-item bgm-teal">
          <div class="clearfix">
            <div class="chart stats-line"></div>
            <div class="count">
              <small>GANHO DA SEMANA</small>
              <h2>{{items?.meta?.financeiro?.hoje|currency:"BRL":true}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="card">
      <div class="card-header card-header-theme">
        <form [formGroup]="pesquisaForm"  (ngSubmit)="pesquisar(pesquisaForm.value)">
          <input type="hidden" [formControl]="pesquisaForm.controls['field']" id="field" class="form-control">
          <input type="hidden" [formControl]="pesquisaForm.controls['order']" id="order" class="form-control">
            <div class="header-search input-group">
                <div class="col-md-2">
                    <div class="fg-line">
                        <input type="text" [formControl]="pesquisaForm.controls['users.name']" id="name" class="form-control" placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fg-line">
                        <input type="text" [formControl]="pesquisaForm.controls['users.email']" id="email" class="form-control" placeholder="E-mail">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="fg-line">
                        <input type="text" [formControl]="pesquisaForm.controls['pessoas.cpf_cnpj']" id="cpf" class="form-control" placeholder="cpf/cnpj">
                    </div>
                </div>
                <button type="submit" [disabled]="!pesquisaForm.valid" class="input-group-addon"><i class="zmdi zmdi-search"></i></button>
            </div>
        </form>
        <div class="header-btn-actions">
          <ul class="actions">
            <li>
              <a pTooltip="Atualizar" tooltipPosition="top" (click)="list()">
                <i class="zmdi zmdi-refresh-alt"></i>
              </a>
            </li>
            <!--<li>
              <a (click)="imgView()">
                <i class="zmdi zmdi-print" [hidden]="!(countSelect == 1)" pTooltip="Visualizar Imagem" tooltipPosition="top"></i>
              </a>
            </li>
            <li>
              <a (click)="aceitar()" >
                <i class="zmdi zmdi-check" [hidden]="(lastChecked?.status == 'aceito') || !(countSelect == 1)" pTooltip="Aceitar" tooltipPosition="top"></i>
              </a>
            </li>
            <li>
              <a (click)="recusar()" >
                <i class="zmdi zmdi-close" [hidden]="(lastChecked?.status == 'invalido')  || !(countSelect == 1)" pTooltip="Recusar" tooltipPosition="top"></i>
              </a>
            </li>-->
            <!--<li>
              <a pTooltip="Lixeira" tooltipPosition="top" (click)="lixeira()">
                <i class="zmdi zmdi-delete"></i>
              </a>
            </li>-->
          </ul>
        </div>
      </div>
        <tooltip-content #myTooltip >
            <div style="text-align: justify; white-space: nowrap;">
                <b><i class="zmdi zmdi-circle" style="color: red"></i></b> <span style="color: #fff">Nenhum documento enviado.</span><br>
                <b><i class="zmdi zmdi-circle" style="color: #fe35ff"></i></b> <span style="color: #fff">Não há veiculo Ativo.</span><br>
                <b><i class="zmdi zmdi-circle" style="color: yellow"></i></b> <span style="color: #fff">Doc parcialmente entregue.</span><br>
                <b><i class="zmdi zmdi-circle" style="color: #4dd452"></i></b> <span style="color: #fff">Usuário Habilitado.</span><br>
            </div>
        </tooltip-content>-
      <div class="table-responsive">
        <table class="table table-striped" id="controle-fornecedores">
          <thead>
          <tr>
            <th>
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/>
            </th>
            <th (click)="orderby('habilidades.id')" pTooltip="Cod" tooltipPosition="top">COD</th>
            <th>#</th>
            <th pTooltip="Motorista" tooltipPosition="top">Motorista</th>
            <th pTooltip="CPF" tooltipPosition="top">CPF</th>
            <th pTooltip="Dt. Ativação" tooltipPosition="top">Dt.Inicio</th>
            <th pTooltip="Sit. Cadastro" tooltipPosition="top">Cadastro</th>
            <th pTooltip="Sit. Operação" tooltipPosition="top">Operação</th>
            <th pTooltip="Nº Corridas" tooltipPosition="top">Corridas</th>
            <th pTooltip="Aval." tooltipPosition="top">Aval.</th>
            <th pTooltip="Km produtivo (mês)" tooltipPosition="top">Km prod.</th>
            <th pTooltip="Veiculo" tooltipPosition="top">Marca</th>
            <th pTooltip="Modelo" tooltipPosition="top">Modelo</th>
            <th pTooltip="Placa" tooltipPosition="top">Placa</th>
            <th pTooltip="Situação do veiculo" tooltipPosition="top">status veic.</th>
          </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of items?.data| paginate: { id: 'server', itemsPerPage: items?.meta?.pagination?.per_page, currentPage: _page, totalItems: _total }" [ngClass]="{'success c-white': item.state}" (click)="item.state = !item.state;count();alterarESeleciona($event, item)" >
              <td>
                <input type="checkbox" name="itens" multiple value="{{item.id}}" [(ngModel)]="item.state"/>
              </td>
              <td>{{item.id}}</td>
                <td class="text-center"
                    [tooltip]="myTooltip"
                    [tooltipDisabled]="false"
                    [tooltipAnimation]="true"
                    tooltipPlacement="top">
                                <span *ngIf="item?.veiculo_ativo && item?.status == 'ativo' && item?.perfil == 'fornecedor'">
                                    <i class="zmdi zmdi-circle" style="color: green"></i>
                                </span>
                    <span *ngIf="!item?.veiculo_ativo?.data && item?.perfil == 'fornecedor'">
                                    <i class="zmdi zmdi-circle" [ngStyle]="{'color': '#fe35ff'}"></i>
                                </span>
                    <span *ngIf="item?.status == 'bloqueado' && item?.perfil == 'fornecedor'">
                                    <i class="zmdi zmdi-circle" [ngStyle]="{'color': item?.pendencias?.cor}"></i>
                                </span>
                    <span *ngIf="item?.perfil != 'fornecedor'">
                                    <i class="zmdi zmdi-circle" style="color: green"></i>
                                </span>
                </td>
              <td>{{item.name}}</td>
              <td>{{item?.pessoa?.data?.cpf_cnpj}}</td>
              <td>{{item.created_at.date|date:'d-MM-y'}}</td>
              <td>{{item.status}}</td>
              <td>{{item.disponivel?"Online":"Offline"}}</td>
              <td>{{item.contagem_chamadas}},00</td>
              <td>
                <!--<rating [(ngModel)]="item.nota_fornecedor" [readonly]="true" [max]="5"> </rating>-->
                {{item.nota_fornecedor==0?'---':item.nota_fornecedor| number:'1.1-2':'br'}}
              </td>
              <td>{{item.km_mes_rodado==0?'---':'Km '+(item.km_mes_rodado| number:'1.1-2':'br')}}</td>
              <td>{{item.veiculo_marca?item.veiculo_marca:"---"}}</td>
              <td>{{item.veiculo_modelo?item.veiculo_modelo:"---"}}</td>
              <td>{{item.veiculo_placa}}</td>
              <td>{{item.veiculo_status?item.veiculo_status:"---"}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination" >
          <pagination-controls maxSize="6" (pageChange)="list($event)" directionLinks="true" nextLabel="" previousLabel="" autoHide="true" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>